.note-card-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 150px;
  height: 100%;
  border-radius: 0.3rem;
  background-color: white;
  color: #333;
  padding: 1.5rem;
  overflow: hidden;
}

.card-title {
  font-size: 1.2rem;
  --max-lines: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  word-wrap: break-word;
  cursor: pointer;
}

.card-body {
  margin: 0.5rem 0;
  --max-lines: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.card-details {
  font-size: 14px;
  color: gray;
  cursor: pointer;
  width: fit-content;
}

.card-footer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-timeline {
  font-size: 14px;
  color: gray;
  font-style: italic;
}

.card-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.action-item {
  cursor: pointer;
  opacity: 0.8;
}

.action-item:hover {
  opacity: 1;
}

.action-item .edit {
  color: rgb(8, 64, 131);
}

.action-item .delete {
  color: rgb(222, 63, 5);
}


.highlighted-term {
  background-color: #ffeb3b;
  cursor: pointer;
  font-weight: bold;
}

.tooltip {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  max-width: 200px;
  z-index: 10;
  position: fixed;
  white-space: nowrap;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}


/* Highlighted term styling */
.highlighted-term {
  position: relative;
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px dotted #007bff;
}

.highlighted-term {
  position: relative;
  color: #007acc; /* Highlight color */
  font-weight: bold;
  cursor: pointer;
}

.highlighted-term::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom: 120%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 0.85em;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.highlighted-term:hover::after {
  opacity: 1;
}
